#advice{
  background: #5192e1;
  width: 100%;
  height: 80vh;
  padding: 350px 0 10px 0;
  display: flex;
  justify-content: center;
  .advice__container{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 500px;
    .advice__content{
      width: 100%;
      height: 100%;
      color: #ffffff;
      h2{
        font-size: 32px;
        font-weight: 300;
        span{

        }
      }
      p{
        width: 100%;
      }
    }
    .advice__img{
      width: 30%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
